In [2]:
import pandas as pd
%matplotlib inline

In [18]:
df = pd.read_csv("../data/train_final.csv")

In [19]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,FirstName,TitleClass,FamilySize,AgeClassDesc,AgeClass,SexClass,EmbarkedClass,pctFamilySurvived,nFamilySurvived,nFamilyDied
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,...,Owen Harris,1,2,Crescido,1,0,0,0,0,4
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,...,John Bradley (Florence Briggs Thayer),3,2,Crescido,1,1,1,100,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,...,Laina,2,1,Crescido,1,1,0,100,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,...,Jacques Heath (Lily May Peel),3,2,Crescido,1,1,0,50,2,2
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,...,William Henry,1,1,Crescido,1,0,0,50,2,2

In [25]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'hasTitle',
       'FamilyName', 'Title', 'FirstName', 'TitleClass', 'FamilySize',
       'AgeClassDesc', 'AgeClass', 'SexClass', 'EmbarkedClass',
       'pctFamilySurvived', 'nFamilySurvived', 'nFamilyDied'],
      dtype='object')

In [31]:
df.sort_values(["FamilySize", "FamilyName"], ascending=False)[["Name", "FamilyName", "Cabin", "pctFamilySurvived"]]

,Name,FamilyName,Cabin,pctFamilySurvived
745,"Sage, Master. Thomas Henry",Sage,NaN,0
749,"Sage, Miss. Constance Gladys",Sage,NaN,0
755,"Sage, Mr. Frederick",Sage,NaN,0
777,"Sage, Mr. George John Jr",Sage,NaN,0
875,"Sage, Miss. Stella Anna",Sage,NaN,0
884,"Sage, Mr. Douglas Bullen",Sage,NaN,0
887,"Sage, Miss. Dorothy Edith ""Dolly""",Sage,NaN,0
44,"Goodwin, Master. William Frederick",Goodwin,NaN,0
54,"Goodwin, Miss. Lillian Amy",Goodwin,NaN,0
309,"Goodwin, Master. Sidney Leonard",Goodwin,NaN,0
383,"Goodwin, Master. Harold Victor",Goodwin,NaN,0
536,"Goodwin, Mrs. Frederick (Augusta Tyler)",Goodwin,NaN,0
540,"Goodwin, Mr. Charles Edward",Goodwin,NaN,0
22,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",Asplund,NaN,75
145,"Asplund, Master. Clarence Gustaf Hugo",Asplund,NaN,75
188,"Asplund, Miss. Lillian Gertrud",Asplund,NaN,75
210,"Asplund, Master. Edvin Rojj Felix",Asplund,NaN,75
12,"Andersson, Mr. Anders Johan",Andersson,NaN,22
51,"Andersson, Miss. Erna Alexandra",Andersson,NaN,22
94,"Andersson, Miss. Ellis Anna Maria",Andersson,NaN,22
429,"Andersson, Miss. Ingeborg Constanzia",Andersson,NaN,22
430,"Andersson, Miss. Sigrid Elisabeth",Andersson,NaN,22
482,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",Andersson,NaN,22
650,"Andersson, Miss. Ebba Iris Alfrida",Andersson,NaN,22
678,"Andersson, Master. Sigvard Harald Elias",Andersson,NaN,22
48,"Skoog, Master. Harald",Skoog,NaN,0
134,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",Skoog,NaN,0
288,"Skoog, Mr. Wilhelm",Skoog,NaN,0
501,"Skoog, Miss. Mabel",Skoog,NaN,0
508,"Skoog, Miss. Margit Elizabeth",Skoog,NaN,0
...,...,...,...,...
234,"Barber, Miss. Ellen ""Nellie""",Barber,NaN,100
608,"Barah, Mr. Hanna Assi",Barah,NaN,100
707,"Banfield, Mr. Frederick James",Banfield,NaN,0
263,"Ball, Mrs. (Ada E Hall)",Ball,D,100
695,"Balkic, Mr. Cerin",Balkic,NaN,0
604,"Bailey, Mr. Percy Andrew",Bailey,NaN,0
522,"Badt, Mr. Mohamed",Badt,NaN,0
621,"Ayoub, Miss. Banoura",Ayoub,NaN,100
665,"Augustsson, Mr. Albert",Augustsson,NaN,0
294,"Aubart, Mme. Leontine Pauline",Aubart,B35,100
89,"Attalah, Miss. Malake",Attalah,NaN,0
196,"Attalah, Mr. Sleiman",Attalah,NaN,0
291,"Asim, Mr. Adola",Asim,NaN,0
393,"Artagaveytia, Mr. Ramon",Artagaveytia,NaN,0
643,"Andrews, Mr. Thomas Jr",Andrews,A36,50
115,"Andrew, Mr. Edgardo Samuel",Andrew,NaN,0
70,"Andreasson, Mr. Paul Edvin",Andreasson,NaN,0
117,"Andersson, Mr. August Edvard (""Wennerstrom"")",Andersson,NaN,22
368,"Anderson, Mr. Harry",Anderson,E12,100
666,"Allum, Mr. Owen George",Allum,NaN,0
4,"Allen, Mr. William Henry",Allen,NaN,50
581,"Allen, Miss. Elisabeth Walton",Allen,B5,50
168,"Ali, Mr. Ahmed",Ali,NaN,0
624,"Ali, Mr. William",Ali,NaN,0
670,"Alhomaki, Mr. Ilmari Rudolf",Alhomaki,NaN,0
647,"Alexander, Mr. William",Alexander,NaN,0
165,"Albimona, Mr. Nassef Cassem",Albimona,NaN,100
323,"Adams, Mr. John",Adams,NaN,0
292,"Adahl, Mr. Mauritz Nils Martin",Adahl,NaN,0
675,"Abbing, Mr. Anthony",Abbing,NaN,0

In [41]:
df[df.FamilyName.isin(df[~df.Cabin.isnull()]["FamilyName"])].sort_values(["FamilyName"], ascending=False)[["Name", "FamilyName", "Cabin", "Survived", "Age", "Pclass", "Embarked"]]

,Name,FamilyName,Cabin,Survived,Age,Pclass,Embarked
261,"Young, Miss. Marie Grice",Young,C32,1,36.00000,1,C
728,"Woolner, Mr. Hugh",Woolner,C52,1,38.23344,1,S
782,"Williams-Lambert, Mr. Fletcher Fellows",Williams-Lambert,C128,0,38.23344,1,S
301,"Widener, Mr. Harry Elkins",Widener,C82,0,27.00000,1,C
255,"Wick, Miss. Mary Natalie",Wick,C7,1,31.00000,1,S
684,"Wick, Mrs. George Dennick (Mary Hitchcock)",Wick,NaN,1,45.00000,1,S
98,"White, Mr. Percival Wayland",White,D26,0,54.00000,1,S
79,"White, Mr. Richard Frasar",White,D26,0,21.00000,1,S
97,"Webber, Miss. Susan",Webber,E101,1,32.50000,2,S
818,"Webber, Mr. James",Webber,NaN,0,25.14062,3,S
293,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",Warren,D37,1,60.00000,1,C
410,"Walker, Mr. William Anderson",Walker,D46,0,47.00000,1,S
136,"Van der hoef, Mr. Wyckoff",Van der hoef,B19,0,61.00000,1,S
570,"Troutt, Miss. Edwina Celia ""Winnie""",Troutt,E101,1,27.00000,2,S
871,"Tobin, Mr. Roger",Tobin,F38,0,25.14062,3,Q
437,"Thayer, Mr. John Borland Jr",Thayer,C70,1,17.00000,1,C
553,"Thayer, Mr. John Borland",Thayer,C68,0,49.00000,1,C
460,"Thayer, Mrs. John Borland (Marian Longstreth M...",Thayer,C68,1,39.00000,1,C
854,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",Taylor,C126,1,38.23344,1,S
565,"Taylor, Mr. Elmer Zebley",Taylor,C126,1,48.00000,1,S
211,"Taussig, Mr. Emil",Taussig,E67,0,52.00000,1,S
463,"Taussig, Miss. Ruth",Taussig,E68,1,18.00000,1,S
443,"Taussig, Mrs. Emil (Tillie Mandelbaum)",Taussig,E67,1,39.00000,1,S
689,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",Swift,D17,1,48.00000,1,S
494,"Sutton, Mr. Frederick",Sutton,D50,0,61.00000,1,S
163,"Strom, Miss. Telma Matilda",Strom,G6,0,2.00000,3,S
202,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",Strom,G6,0,29.00000,3,S
662,"Stone, Mrs. George Nelson (Martha Evelyn)",Stone,B28,1,62.00000,1,S
468,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",Stephenson,D20,1,52.00000,1,C
203,"Stead, Mr. William Thomas",Stead,C87,0,62.00000,1,S
...,...,...,...,...,...,...,...
286,"Bowerman, Miss. Elsie Edith",Bowerman,E33,1,22.00000,1,S
10,"Bonnell, Miss. Elizabeth",Bonnell,C103,1,58.00000,1,S
167,"Blank, Mr. Henry",Blank,A31,1,40.00000,1,C
272,"Blackwell, Mr. Stephen Weart",Blackwell,T,0,45.00000,1,S
344,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",Bjornstrom-Steffansson,C52,1,28.00000,1,S
217,"Bissette, Miss. Amelia",Bissette,C99,1,35.00000,1,S
235,"Bishop, Mrs. Dickinson H (Helen Walton)",Bishop,B49,1,19.00000,1,C
386,"Bishop, Mr. Dickinson H",Bishop,B49,1,25.00000,1,C
712,"Behr, Mr. Karl Howell",Behr,C148,1,26.00000,1,C
18,"Beesley, Mr. Lawrence",Beesley,D56,1,34.00000,2,S
200,"Beckwith, Mr. Richard Leonard",Beckwith,D35,1,37.00000,1,S
696,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",Beckwith,D35,1,47.00000,1,S
487,"Becker, Miss. Marion Louise",Becker,F4,1,4.00000,2,S
146,"Becker, Master. Richard F",Becker,F4,1,1.00000,2,S
175,"Bazzani, Miss. Albina",Bazzani,D15,1,32.00000,1,C
241,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",Baxter,B58 B60,1,50.00000,1,C
93,"Baxter, Mr. Quigg Edmond",Baxter,B58 B60,0,24.00000,1,C
498,"Barkworth, Mr. Algernon Henry Wilson",Barkworth,A23,1,80.00000,1,S
263,"Ball, Mrs. (Ada E Hall)",Ball,D,1,36.00000,2,S
294,"Aubart, Mme. Leontine Pauline",Aubart,B35,1,24.00000,1,C
555,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",Astor,C62 C64,1,18.00000,1,C
452,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",Appleton,C101,1,53.00000,1,S
221,"Andrews, Miss. Kornelia Theodosia",Andrews,D7,1,63.00000,1,S
643,"Andrews, Mr. Thomas Jr",Andrews,A36,0,39.00000,1,S
368,"Anderson, Mr. Harry",Anderson,E12,1,48.00000,1,S
240,"Allison, Miss. Helen Loraine",Allison,C22 C26,0,2.00000,1,S
243,"Allison, Master. Hudson Trevor",Allison,C22 C26,1,0.92000,1,S
396,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",Allison,C22 C26,0,25.00000,1,S
581,"Allen, Miss. Elisabeth Walton",Allen,B5,1,29.00000,1,S
4,"Allen, Mr. William Henry",Allen,NaN,0,35.00000,3,S

In [48]:
df.groupby(["Embarked", "Survived"]).size()

Embarked  Survived
C         0            75
          1            93
Q         0            47
          1            30
S         0           427
          1           219
dtype: int64